<form>
{{input type="text" class="new-title" placeholder="Enter a new title" value=newTitle}}

{{textarea class="new-body" placeholder="Enter a new post" value=newBody}}

<button {{action "createPost" newTitle newBody}}>Create</button>
</form>

{{outlet}}
